In [1]:
#importation de whyqd et appelle de la methode schema
import whyqd as _w
schema = _w.Schema()

In [2]:
#ajout des details a ton schema
details = {
    "name":"HDR_Table_31_Schema",
    "title":"Gender inequality in economic activity_HDR 2007-2008 Table 31",
    "description":" schema for exercice number one"
    
}
schema = _w.Schema()

schema.set_details(**details)

In [3]:
fields=[
        {
            "name":"Country Name",
            "title":"Country Name",
            "type":"string",
            "description":"Official country names",
            "constraints": {
                "required":True
            }
        },    
        {
            "name":"HDI Category",
            "title":"HDI Category",
            "type":"string",
            "description":"Human Development Index Category derived from the HDI Rank",
            "constraints":{
                "required": True
             }
           
        },
        {
            "name":"Indicator Name",
            "title":"Indicator Name",
            "type":"string",
            "description":"Indicator described in the data series"
        },
        {
            "name":"Values",
            "title":"Values",
            "type":"number",
            "description":"Value for the Year and Indicator Name"

        }
    ]

In [4]:
#ajout de fiels dans ton schema
for field in fields:
    schema.set_field(**field)

In [5]:
directory = r"C:/Users/La licorne/Desktop/data-wrangling-course/" #je fais appel à mon repertoire courant
filename = "Lin31" # je nomme mon fichier
# le fichier existe déjà alors je spécifie "overwrite=True" pour ne pas avoir d'erreur
schema.save(directory, filename=filename, overwrite=True)

True

In [8]:
### Les importations et paramètres suivants vous permettent d'obtenir un large éventail de résultats pour vos tableaux
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

import numpy as np
import whyqd as _w

SCHEMA_SOURCE = "lin31.json" #"lin31.json" est le nom de mon schema créé ci haut
DIRECTORY = directory
INPUT_DATA = [
    "HDR 2007-2008 Table 31.xlsx"  #"HDR 2007-2008 Table 31.xlsx" c'est le nom de mon fichier inital de la leçon 1 1
]
method = _w.Method(SCHEMA_SOURCE, directory=DIRECTORY, input_data=INPUT_DATA)

In [9]:
print(method.print_input_data())

Data id: aae08573-8843-4b6c-8552-c4b1ca1db074
Original source: HDR 2007-2008 Table 31.xlsx

====  ============  ============  ==============================================  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..    Unnamed: 0    Unnamed: 1  Unnamed: 2                                        Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24    Unnamed: 25    Unnamed: 26    Unnamed: 27    Unnamed: 28    Unnamed: 29    Unnamed: 30    Unnamed: 31    Unnamed: 32
====  ============  ============  ==============================================  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0           nan           nan  … and achieving equality for all women and men           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1           nan           nan  nan                                                      nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2           nan           nan  nan                                                      nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============  ============  ==============================================  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============

In [10]:
method.status

'Ready to Merge'

In [11]:
# Utilisez _id, ou une autre variable, puisque `id` est un terme protégé par Python
_id = method.input_data[0]["id"]
df = method.input_dataframe(_id)

In [12]:
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,… and achieving equality for all women and men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31 Gender inequality in economic activity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Employment by economic activity a\n(%),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,Female economic activity\n(aged 15 and older) ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,\nMen\n1995-2005b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,Index\n(1990=100)\n2005,NaN,As % of male rate\n2005,NaN,Agriculture,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,Rate\n(%)\n2005,NaN,NaN,NaN,NaN,NaN,Women\n1995-2005b,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,Iceland,NaN,70.5,NaN,104,NaN,86,NaN,4,...,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2,Norway,NaN,63.3,NaN,112,NaN,87,NaN,2,...,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#supresion des 11 premières lignes a adapter à ton fichier
method.add_input_data_morph(_id, ["REBASE", 11])

In [14]:
df.tail(35)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
189,175,Guinea-Bissau,NaN,61.0,NaN,105,NaN,66,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,176,Burkina Faso,NaN,77.6,NaN,101,NaN,87,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,177,Sierra Leone,NaN,56.1,NaN,105,NaN,60,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Developing countries,NaN,NaN,52.4,NaN,101,NaN,64,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Least developed countries,NaN,NaN,61.8,NaN,95,NaN,72,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Arab States,NaN,NaN,26.7,NaN,110,NaN,34,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,East Asia and the Pacific,NaN,NaN,65.2,NaN,96,NaN,79,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Latin America and the Caribbean,NaN,NaN,51.9,NaN,127,NaN,65,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,South Asia,NaN,NaN,36.2,NaN,99,NaN,44,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Sub-Saharan Africa,NaN,NaN,62.6,NaN,96,NaN,73,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Central and Eastern Europe and the CIS,NaN,NaN,52.4,NaN,89,NaN,79,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,OECD,NaN,NaN,50.3,NaN,105,NaN,72,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,High-income OECD,NaN,NaN,52.8,NaN,107,NaN,76,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,High human development,NaN,NaN,51.6,NaN,107,NaN,73,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,Medium human development,NaN,NaN,52.2,NaN,98,NaN,64,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,Low human development,NaN,NaN,63.4,NaN,97,NaN,72,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,High income,NaN,NaN,52.1,NaN,107,NaN,75,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Middle income,NaN,NaN,57.0,NaN,101,NaN,72,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,Low income,NaN,NaN,45.7,NaN,96,NaN,55,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,World,NaN,NaN,52.5,NaN,101,NaN,67,NaN,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,"Because of limitations in the data, comparison...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,a. The percentage shares of employment by econ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,SOURCES\nColumns 1 and 4–9: ILO 2005. \nColumn...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# suppression des lignes a partir de la ligne 192 
rows = [int(i) for i in np.arange(192, df.index[-1]+1)]
method.add_input_data_morph(_id, ["DELETE", rows])

KeyError: 11